<ul>
<li><h3>Why?</h3>
I am developing this site to practice my rails skills. 
</li>
<li><h3>How?</h3>
This website is developed using Ruby on Rails.
MySql database is used.
I am using <a href= "http://about.heroku.com/" target="_blank">heroku</a> for deployment.
</li>
<li><h3>What?</h3>
Any website needs content. Since, this is not an application of any sort, I am writing small utilities and games for the visitors. I would welcome valuable feedback and suggestions for the improvement of this site.
<ul>
<li> <strong>Number conversion:</strong> Something which I have to do very often. To convert numbers between their decimal, hex, octal and binary forms.</li>
<li><strong>Word jumble:</strong> I have setup a word jumble of relatively simple words. The visitor has to submit the correct word. I am saving the actual word in the session variable so that it is available between the various requests.</li>
<li><strong>Fun Vocab:</strong>The visitor has to select the synonym of the bold word from the four choices given</li>
<li><strong>Clear Session:</strong>The visitor place is derived from the visitor ip using the hostip api eveytime the home page is visited which is an expensive operation. So, I save the place information for that session. To clear any session information this link can be used.</li>
<li><strong>Admin:</strong>This is just for me to add new contents for the above mentioned games. I find it easier this way than doing an insert into the database directly.</li>
</ul>

</li>
</ul>

