<div style="width:50%;">
<p style="text-align:center;">
The website still being developed and new features are added everyday and the code that passes tests in development environment is being pushed to production. But sometimes, the app fails to work after deployment. So, I have put the log level as debug and provided myself an interface to see the log file contents in here. 
</p>
<h4>Printing the contents of <em>"<%= @filename %>" </em> </h4>
<div>
<% @fLog.reverse.each do |line| %>
<% if h(line).eql? "\n" %>
<%= h line %> 
<p>-------------------------------------------------------------</p>
<% else %>
<%= h line %>
<p>-------------------------------------------------------------</p>
<% end %>
<% end %>
</div>
</div>
